<div class="container">
    <div class="col-md-6 mx-auto">
        <form [formGroup]="login">
            <h1 class="text-danger text-center py-5">Login</h1>
            <div class="form-group">
                <label for="one">Enter Name</label>
                <input formControlName="name" type="text" class="form-control" name="name" id="one" placeholder="Entrer voter nom">
                <div class="alert alert-danger mt-2" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">Ce champ est obligatoire</div>
                    <div *ngIf="name.errors.minlength">Il faut ecrire au moins 3 caractére</div>
                </div>

                <div class="form-group">
                    <label for="one">Enter Password</label>
                    <input formControlName="password" type="password" class="form-control" name="password" id="two" placeholder="Entrer voter password">
                    <div class="alert alert-danger mt-2" *ngIf="password.touched && password.invalid">
                        <div *ngIf="password.errors.required">Ce champ est obligatoire</div>
                        <div *ngIf="password.errors.minlength">Il faut ecrire au moins 3 caractére</div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
    </div>
</div>
